@import url('https://fonts.googleapis.com/css?family=Roboto=100,200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap');


html, body {
    height: 100%;
  }
  
  html {
    background: #eee;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.base{
    width: 900px;
    height: 550px;
    background: white;
    border-radius: 4px;
    align-content: center;
    box-shadow: 0px 2px 30px #a7a4a4;
}

.box {
    border-top-left-radius: 4px;
    width: 30%;
    height: 550px;
    float: left;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(to bottom,rgba(#e8a,1) 0%, rgba(#def,0) 80%, rgba(white, 0.5) 100%);
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 40%;
    background: #0af;
    width: 700px;
    height: 700px;
    margin-left: -300px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}
  
.wave.-three {
    animation: drift 5000ms infinite linear;
}
  
.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}
  
.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, #e8a, rgba(193, 66, 66, 0));
    z-index: 2;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 400px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .1em;
    font-size: 23px;
    text-shadow: 1px 1px 8px rgb(158, 157, 157);
    text-indent: .3em;
}
.rightbox{
    position: relative;
    float: left;
    width: 70%;
    height: 550px;
    background: rgb(243, 241, 241);
    border-radius: 4px;

}
.chatw{
    text-indent: 6px;
    width: 100%;
    height: 6%;
    padding-top: 3%;
    border-top-right-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    /* background:rgb(216, 223, 230); */
    background: white;
}

.chat{
    width: 100%;
    height: 80%;
    background-color: transparent;
    font-family: 'Asap', sans-serif;
    overflow: scroll;
    font-size: 20px;
}

.mychat{
    font-family: 'Asap', sans-serif;
    text-align: right;
    position: relative;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 3px;
    margin-top: 10px;
    width: max-content;
    height:min-content;
    background:rgb(104, 168, 201);
    padding: 10px;
    border-radius: 10px;
    right: 0px;
}


.mychat:after {
	border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(104, 168, 201);
    content:"";
    position:absolute;
    bottom:10px;
    right:-10px;
}



.yourchat{
    font-family: 'Asap', sans-serif;
    position: relative;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-top: 10px;
    width: max-content;
    height:min-content;
    background:rgb(207, 206, 206);
    padding: 10px;
    border-radius: 10px;
    right: 0px;
}

.yourchat:after {
	border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(207, 206, 206);
    /* content:""; */
    position:absolute;
    bottom:10px;
    left:-10px;
}


.send{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: white;
    align-self: bottom;
    border-bottom-right-radius: 4px;
}

input{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
}
input:focus{
    outline: none;
}
::placeholder{
    color: rgb(190, 204, 219);
    text-indent: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;

}

.sendbutton{
    width: 9%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
